 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 301px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1149px;
  margin: 0 -23px 16px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 401px;
  height: 204px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 264px;
  height: 67px;
  margin: 14px auto 0 87px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 285px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 0 0;
}

.u-section-1 .u-image-3 {
  width: 455px;
  height: 156px;
  margin: 51px 59px 0 60px;
}

.u-section-1 .u-image-4 {
  width: 230px;
  height: 56px;
  margin: 14px auto 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -44px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 75px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-1 .u-image-3 {
    height: 155px;
    margin-top: 76px;
    margin-right: 7px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 73px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 183px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 51px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-1 .u-image-3 {
    width: 360px;
    height: 123px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 65px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 267px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 173px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 61px;
    margin-left: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 116px;
  }
} .u-section-2 {
  background-image: url("images/new.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 355px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 30px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px);
  min-height: 295px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-2 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 23px auto 0 2px;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-2 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 23px auto 0 2px;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 23px auto 0 2px;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 13px 30px;
}

.u-section-2 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 23px auto 0 2px;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 13px 30px;
}

.u-section-2 .u-group-5 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 23px auto 0 2px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-size: 115%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-btn-2 {
    border-style: none none solid;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-btn-3 {
    border-style: none none solid;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-btn-4 {
    border-style: none none solid;
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-btn-5 {
    border-style: none none solid;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 49.05% 0%;
    background-size: auto 110%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-size: auto 120%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 993px;
}

.u-section-3 .u-group-1 {
  width: 692px;
  min-height: 110px;
  height: auto;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 83px 0 92px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 41px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-3 .u-group-2 {
  width: 350px;
  min-height: 350px;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-3 .u-image-1 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-3 .u-group-3 {
  width: 350px;
  height: 350px;
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-3 .u-image-2 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-3 .u-group-4 {
  width: 350px;
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 15px;
}

.u-section-3 .u-image-3 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 15px 15px 30px;
}

.u-section-3 .u-image-4 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 15px;
}

.u-section-3 .u-group-6 {
  width: 350px;
  height: 350px;
  margin: 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 15px;
}

.u-section-3 .u-image-5 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-group-7 {
  width: 350px;
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 15px 15px 30px;
}

.u-section-3 .u-image-6 {
  width: 56px;
  height: 56px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-3 .u-group-2 {
    width: 283px;
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-3 .u-group-3 {
    width: 283px;
    min-height: 283px;
    height: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 338px;
  }

  .u-section-3 .u-group-4 {
    width: 283px;
    min-height: 283px;
    height: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-3 .u-group-5 {
    width: 283px;
    min-height: 283px;
    height: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 338px;
  }

  .u-section-3 .u-group-6 {
    width: 283px;
    min-height: 283px;
    height: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 338px;
  }

  .u-section-3 .u-group-7 {
    width: 283px;
    min-height: 283px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-2 {
    width: 210px;
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-3 {
    width: 210px;
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-4 {
    width: 210px;
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-group-5 {
    width: 210px;
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-group-6 {
    width: 210px;
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-group-7 {
    width: 210px;
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 7px;
    margin-left: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 942px;
}

.u-section-4 .u-group-1 {
  width: 692px;
  min-height: 89px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 20px 83px 0 92px;
}

.u-section-4 .u-list-1 {
  width: 99%;
  margin: 27px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 17px 17px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  min-height: 628px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-5 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  width: 45px;
  height: 76px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 20px 0;
}

.u-section-4 .u-text-14 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-6 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -148px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -148px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -148px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -148px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -148px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    min-height: 1661px;
    grid-template-columns: calc(50% - 8.49997px) calc(50% - 8.49997px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 7px;
    margin-left: 16px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 556px;
}

.u-section-5 .u-group-1 {
  width: 712px;
  min-height: 496px;
  height: auto;
  margin: 50px 204px 10px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 20px 83px 0 92px;
}

.u-section-5 .u-list-1 {
  width: 677px;
  margin: 20px -5px -22px auto;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 17px 17px;
  grid-template-columns: 100%;
  min-height: 383px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 45px;
  height: 76px;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 20px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    min-height: 1026px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    min-height: 1766px;
    margin-right: 8px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1661px;
    grid-template-columns: calc(50% - 8.49997px) calc(50% - 8.49997px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1171px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 61px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 869px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 213px;
  width: 224px;
  height: auto;
  margin: 19px auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 6px 28px;
}

.u-section-6 .u-image-1 {
  width: 146px;
  height: 146px;
  background-image: url("images/WhatsAppImage2023-09-01at14.55.13a.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-group-2 {
  min-height: 342px;
  width: 293px;
  height: auto;
  margin: -210px 36px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 0 -9px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -9px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-6 .u-group-3 {
  min-height: 37px;
  height: auto;
  width: 320px;
  margin: 11px 11px 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-group-4 {
  min-height: 213px;
  width: 224px;
  height: auto;
  margin: 19px auto 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 6px 28px;
}

.u-section-6 .u-image-2 {
  width: 146px;
  height: 146px;
  background-image: url("images/clm_computacao_thiago_coleti.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-group-5 {
  min-height: 342px;
  width: 293px;
  height: auto;
  margin: -210px 36px 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: 0 -9px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -9px 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-6 .u-group-6 {
  min-height: 37px;
  height: auto;
  width: 320px;
  margin: 11px 11px 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-9 {
  padding: 0;
}

.u-section-6 .u-group-7 {
  min-height: 213px;
  width: 224px;
  height: auto;
  margin: 19px auto 0 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 6px 28px;
}

.u-section-6 .u-image-3 {
  width: 146px;
  height: 146px;
  background-image: url("images/WhatsAppImage2023-09-01at14.55.13a.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-group-8 {
  min-height: 342px;
  width: 293px;
  height: auto;
  margin: -210px 36px 0 auto;
}

.u-section-6 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  margin: 0 -9px 0 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -9px 0 0;
}

.u-section-6 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-6 .u-group-9 {
  min-height: 37px;
  height: auto;
  width: 320px;
  margin: 11px 11px 0 auto;
}

.u-section-6 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-icon-9 {
  height: 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-13 {
  padding: 0;
}

.u-section-6 .u-group-10 {
  min-height: 213px;
  width: 224px;
  height: auto;
  margin: 19px auto 0 0;
}

.u-section-6 .u-container-layout-14 {
  padding: 6px 28px;
}

.u-section-6 .u-image-4 {
  width: 146px;
  height: 146px;
  background-image: url("images/WhatsAppImage2023-09-01at14.55.13a.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-group-11 {
  min-height: 342px;
  width: 293px;
  height: auto;
  margin: -210px 36px 0 auto;
}

.u-section-6 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-11 {
  font-weight: 400;
  margin: 0 -9px 0 0;
}

.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px -9px 0 0;
}

.u-section-6 .u-text-13 {
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-6 .u-group-12 {
  min-height: 37px;
  height: auto;
  width: 320px;
  margin: 11px 11px 0 auto;
}

.u-section-6 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-icon-10 {
  height: 100%;
}

.u-section-6 .u-icon-11 {
  height: 100%;
}

.u-section-6 .u-icon-12 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 53px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 577px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-group-3 {
    height: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-4 {
    height: auto;
  }

  .u-section-6 .u-group-5 {
    height: auto;
  }

  .u-section-6 .u-group-6 {
    height: auto;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-7 {
    height: auto;
  }

  .u-section-6 .u-group-8 {
    height: auto;
  }

  .u-section-6 .u-group-9 {
    height: auto;
  }

  .u-section-6 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-10 {
    height: auto;
  }

  .u-section-6 .u-group-11 {
    height: auto;
  }

  .u-section-6 .u-group-12 {
    height: auto;
  }

  .u-section-6 .u-container-layout-16 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 4px;
    padding-right: 4px;
  }
} .u-section-7 {
  background-image: url("images/new.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 481px;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 3rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 95px 84px 0;
}

.u-section-7 .u-text-2 {
  width: 760px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
  padding: 18px 58px 19px 56px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-size: 115%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    padding: 13px 56px 15px 55px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    background-position: 49.05% 0%;
    background-size: auto 110%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    background-size: auto 120%;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 43px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    font-size: 1.125rem;
  }
} .u-section-8 {
  background-image: url("images/vccvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 837px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 678px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  width: 568px;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  width: 568px;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-style: italic;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 34px auto 60px;
  padding: 18px 58px 19px 56px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 690px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.625rem;
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.375rem;
    width: 429px;
    margin-top: 56px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin: 34px 0 56px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-9 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  width: 655px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0;
}

.u-section-9 .u-image-1 {
  height: 512px;
  margin-top: 33px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-9 .u-list-1 {
  width: 1022px;
  margin: -61px auto 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 261px;
  grid-gap: 32px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-9 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px;
}

.u-section-9 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-9 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px;
}

.u-section-9 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-9 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-9 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-9 .u-text-11 {
  text-align: left;
  margin: 43px auto 60px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-9 .u-list-1 {
    width: 655px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 518px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 0;
  }

  .u-section-9 .u-text-5 {
    margin-top: 0;
  }

  .u-section-9 .u-text-7 {
    margin-top: 0;
  }

  .u-section-9 .u-text-9 {
    margin-top: 0;
  }

  .u-section-9 .u-text-11 {
    width: auto;
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    font-size: 1.25rem;
  }

  .u-section-9 .u-list-1 {
    width: 474px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    grid-gap: 32px 32px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    height: 429px;
    margin-top: 35px;
  }

  .u-section-9 .u-list-1 {
    width: 256px;
    margin-top: -58px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 726px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-11 {
    margin-top: 20px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 494px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-form-1 {
  height: 103px;
  width: 305px;
  margin: 21px auto 0;
}

.u-section-10 .u-input-1 {
  height: 62px;
}

.u-section-10 .u-btn-1 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 18px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-10 .u-form-1 {
    width: 253px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }

  .u-section-10 .u-form-1 {
    height: 136px;
    width: 276px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-10 .u-form-1 {
    width: 335px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}